.ModalWindow-Content {
    z-index:2;
    width:80%;
    padding: 16px;
    background:#fff;
}

.ModalWindow-InputArea {
    display:flex;
    width:100%;
}

.ModalWindow-ButtonArea {
    display:flex;
}

.Expenditureincome {
    margin-left: auto;
}

.ModalWindow-CategoryArea {
    width:40%;
}

.ModalWindow-Input {
    width:60%;
}



