.ModalWindow-Content {
    z-index:2;
    width:80%;
    padding: 16px;
    background:#fff;
}

.ModalWindow-InputArea {
    display:flex;
    width:100%;
}

.ModalWindow-ButtonArea {
    display:flex;
}

.Expenditureincome {
    margin-left: auto;
}

.ModalWindow-CategoryArea {
    width:40%;
}

.ModalWindow-Input {
    width:60%;
}
.ModalWindow-total-amount {
    display:flex;
}

.ModalWindow-total {
    width:20%;
}

.ModalWindow-expense {
    width:10%;
}

.ModalWindow-expense-total {
    width:30%;
}

.ModalWindow-income {
    width:10%;
}

.ModalWindow-income-total {
    width:30%;
}